header{
    height: 10%;
}

body{
    margin : 0;
    padding : 0;
    height: 100%;
    background-color: #DDD1BC;

}
main{
    height: 90%;
}
#text_login{


    outline: transparent;
    width: 600px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}
#field_login{
    display: flex;
    height: 50%;
    flex-direction: column;
}
.connexion{
    position: fixed;
    display: flex;
    justify-content : center;
    flex-direction:column;
    top: 30%;
    left: 30%;
    align-items: stretch;
}
#bouton_co{

    align-self: flex-end;

    width: 220px;
    height: 70px;
    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 20px;
    margin-top: 20px;
    left:60%;

}














